/* =================================== FONTS START ===================================  */
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFWkU1Z4Y.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFU0U1Z4Y.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFWUU1Z4Y.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFV0U1.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Gilroy-SemiBold.woff') format('woff');
}
/* =================================== FONTS END ===================================  */

/* =================================== COMMON START ===================================  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
form {
  font: inherit;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a,
span,
::before,
::after {
  text-decoration: none;
  display: inline-flex;
  color: inherit;
}

:root {
  --hue: 238;
  --theme-color: hsl(var(--hue), 56%, 26%);
  --secondary-theme-color: hsl(calc(var(--hue) - 80), 73%, 77%);
  --darknes-theme-color: hsl(calc(var(--hue) + 18), 23%, 56%);
  --subsidiary-theme-color: hsl(calc(var(--hue) - 210), 87%, 62%);
  --opacity-subsidiary-theme-color: hsla(
    calc(var(--hue) - 210),
    87%,
    62%,
    0.15
  );
  --lightnes-gray: hsl(calc(var(--hue) - 6), 22%, 66%);
  --brightnes-color: hsl(calc(var(--hue) - 238), 0%, 100%);
  --primary-gradient-color: hsla(calc(var(--hue) + 46), 54%, 25%, 0.6);
  --secondary-gradient-color: hsl(calc(var(--hue) - 7), 88%, 13%);
}

body {
  background: linear-gradient(
        230deg,
        var(--primary-gradient-color) 10%,
        var(--secondary-gradient-color) 90%
      )
      no-repeat 0 0 / 100%,
    var(--theme-color);
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--lightnes-gray);
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.btn {
  cursor: pointer;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  border: 1px solid transparent;
  color: var(--brightnes-color);
  border-radius: 3px;
  transition: 0.25s ease-in-out;
}

.btn-transparent {
  background-color: transparent;
  color: var(--subsidiary-theme-color);
  border: 1px solid var(--subsidiary-theme-color);
}

.btn-transparent:hover {
  background-color: var(--subsidiary-theme-color);
  color: var(--brightnes-color);
  transform: translateY(-2px);
}

.btn-filling {
  background-color: var(--subsidiary-theme-color);
  box-shadow: -11px 18px 37px var(--opacity-subsidiary-theme-color);
}

.btn-filling:hover {
  background-color: transparent;
  color: var(--subsidiary-theme-color);
  border: 1px solid var(--subsidiary-theme-color);
  transform: translateY(-2px);
}

.business__btn-filling,
.property__btn-filling,
.traffic__btn-filling {
  min-width: 155px;
  min-height: 50px;
}

.framework__btn-filling {
  min-width: 165px;
  min-height: 55px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.13;
  color: var(--secondary-theme-color);
  margin-bottom: 20px;
}

h2.center-title {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-theme-color);
}

h2.left-title {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-theme-color);
}

span.color-words {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--subsidiary-theme-color);
}

.center-title__desc {
  font-family: 'Gilroy-SemiBold';
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: var(--darknes-theme-color);
}

.left-title__desc {
  font-family: 'Gilroy-SemiBold';
  font-size: 16px;
  line-height: 1.4;
  color: var(--darknes-theme-color);
}

.navbar__links {
  font-family: 'Gilroy-SemiBold';
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--lightnes-gray);
}

.hero__desc {
  font-family: 'Gilroy-SemiBold';
  font-size: 18px;
  line-height: 1.22;
  color: var(--darknes-theme-color);
}
/* =================================== COMMON END ===================================  */

/* =================================== HEADER START ===================================  */
.header {
  padding-top: 75px;
}

.navbar,
.navbar__nav,
.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100%;
  height: 36px;
  margin-right: 45px;
  object-fit: cover;
}

.navbar__links a {
  padding: 20px 10px;
  transition: color 0.25s;
}

.navbar__links a:hover {
  color: var(--subsidiary-theme-color);
}

.header__btn-transparent,
.header__btn-filling {
  padding: 8px 30px;
}

.header__btn-transparent {
  margin-right: 15px;
}
/* =================================== HEADER END ===================================  */

/* =================================== HERO START ===================================  */
.hero {
  padding-top: 100px;
}

.hero__img-box img {
  width: auto;
  height: auto;
  object-fit: cover;
}

.hero__title-desc {
  font-family: 'Gilroy-SemiBold';
  font-size: 16px;
  line-height: 1.4;
  color: var(--darknes-theme-color);
  margin-bottom: 40px;
}

.hero__btn-transparent,
.hero__btn-filling {
  min-width: 155px;
  padding: 12px 32px;
}

.hero__btn-transparent {
  margin-left: 15px;
}

.hero__video-box {
  width: 220px;
  height: 80px;
  margin-right: 20px;
  border: 1px solid var(--secondary-theme-color);
  border-radius: 5px;
}

.hero__video-wrapper {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.hero__video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: transparent;
}

.hero__video-info-title {
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 7px;
  color: var(--darknes-theme-color);
}

.hero__video-info-link {
  color: var(--lightnes-gray);
}

.hero__video-info-link:hover {
  text-decoration: underline;
}
/* =================================== HERO END ===================================  */

/* =================================== BRANDS START ===================================  */
.brands {
  padding-top: 40px;
  padding-bottom: 100px;
}

.brands__img-box {
  display: flex;
  justify-content: center;
}
/* =================================== BRANDS END ===================================  */

/* =================================== BRANDS END ===================================  */
.services {
  position: relative;
}

.services__title {
  margin-bottom: 15px;
}

.services__box-wrapper {
  margin-top: 50px;
}

.services__box {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  height: 100%;
}

.services__box img {
  margin-right: 30px;
}

.services__box-subtitle,
.services__box-desc {
  font-family: 'Gilroy-SemiBold';
  line-height: 1.2;
}

.services__box-subtitle {
  color: var(--secondary-theme-color);
  font-size: 18px;
  margin-bottom: 10px;
}

.services__box-desc {
  font-size: 14px;
  color: var(--darknes-theme-color);
}
/* =================================== BRANDS END ===================================  */

/* =================================== TRAFFIC START ===================================  */
.traffic {
  padding-top: 162px;
  padding-bottom: 200px;
}

.traffic__wrapper {
  display: flex;
  align-items: center;
}

.traffic__info-box {
  padding: 5%;
}

.traffic__desc {
  padding-top: 32px;
  padding-bottom: 45px;
}

.traffic__img-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* =================================== TRAFFIC END ===================================  */

/* =================================== PRICING START ===================================  */
.pricing {
  padding-bottom: 170px;
  position: relative;
}

.pricing::before {
  content: '';
  position: absolute;
  bottom: 75%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('../img/deco/traffic-deco.webp') no-repeat;
}

.pricing__desc {
  padding-top: 32px;
  padding-bottom: 50px;
}

.pricing__box {
  text-align: center;
}

.pricing__box-title {
  font-family: 'inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-theme-color);
  margin-bottom: 17px;
}
/* =================================== PRICING END ===================================  */

/* =================================== FRAMEWORK START ===================================  */
.framework {
  text-align: center;
  padding-bottom: 60px;
}

.framework__title {
  margin-bottom: 45px;
}

.framework img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
  margin-top: -12%;
}
/* =================================== FRAMEWORK END ===================================  */

/* =================================== PROPERTY START ===================================  */
.property {
  padding-bottom: 170px;
}

.pricing::before {
  content: '';
  position: absolute;
  bottom: 75%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('../img/deco/traffic-deco.webp') no-repeat;
}

.property__desc {
  padding-top: 32px;
  padding-bottom: 45px;
}

.property__info-box {
  padding: 5%;
}

.property__card {
  width: 280px;
  min-height: 440px;
  font-family: 'Gilroy-SemiBold';
  border-radius: 0 0 12px 12px;
  background-color: var(--brightnes-color);
  position: relative;
}

.property__card::after {
  content: '';
  position: absolute;
  left: -70px;
  top: 110px;
  width: 120px;
  height: 120px;
  background: url('../img/property-deco1.webp') no-repeat 100% / 120px;
}

.property__card::before {
  content: '';
  position: absolute;
  right: -100px;
  top: 210px;
  width: 120px;
  height: 120px;
  z-index: -1;
  background: url('../img/property-deco2.webp') no-repeat 100% / 120px;
}

.property__card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.property__card-info {
  padding: 20px 30px;
}

.property__card-title {
  color: var(--theme-color);
  line-height: 1.25;
  margin-bottom: 3px;
}

.property__card-desc {
  color: var(--darknes-theme-color);
  font-size: 12px;
  margin-bottom: 22px;
}

.property__card-price {
  font-family: 'Inter';
  --price-color: #13c296;
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--price-color);
}

.property__card-price_desc {
  font-size: 12px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.property__card-statistic_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.property__card-statistic {
  display: flex;
  flex-direction: column;
}

.property__card-statistic_title {
  color: var(--theme-color);
  font-size: 17px;
}

.property__card-statistic_desc {
  font-size: 13px;
  margin-top: 3px;
}
/* =================================== PROPERTY END ===================================  */

/* =================================== HELP START ===================================  */
.help {
  padding-bottom: 200px;
}

.help__wrapper {
  display: flex;
  align-items: center;
}

.help__img-box img {
  width: 520px;
  height: auto;
  object-fit: cover;
}

.help__title {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  color: var(--secondary-theme-color);
}

.help__desc {
  margin-top: 32px;
  margin-bottom: 50px;
}

.help__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.help__item-box {
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
}

.help__item-box_title {
  color: var(--secondary-theme-color);
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 8px;
}

.help__item-box_desc {
  color: var(--darknes-theme-color);
}
/* =================================== HELP END ===================================  */

/* =================================== FORM START ===================================  */
.form {
  text-align: center;
  padding-bottom: 150px;
  position: relative;
}

.form__desc {
  margin-top: 20px;
  margin-bottom: 25px;
}

.form-wrapper {
  padding: 50px 0;
  width: 940px;
  margin: 0 auto;
  border-radius: 5px;
  --form-box-color: hsla(238, 35%, 36%, 20%);
  background-color: var(--form-box-color);
  backdrop-filter: blur(135px);
}

.form::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 7%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('../img/form-deco.webp') repeat-x;
}

.form__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__input {
  width: 310px;
  --input-color: hsla(238, 35%, 36%, 50%);
  background-color: var(--input-color);
  border: 1px solid transparent;
  border-radius: 5px 0 0 5px;
  padding: 18px 15px;
  color: var(--subsidiary-theme-color);
}

.form__input-btn {
  border-radius: 0 5px 5px 0;
  min-width: 128px;
  padding: 19px 0;
  background-color: var(--subsidiary-theme-color);
}

.form__input-btn:hover {
  border: 1px solid var(--subsidiary-theme-color);
  color: var(--subsidiary-theme-color);
  background-color: transparent;
}

.center-title__desc_two {
  font-size: 14px;
}
/* =================================== FORM END ===================================  */

/* =================================== FOOTER START ===================================  */
.footer {
  padding-bottom: 100px;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('../img/deco/footer-deco.webp') repeat-x;
}

.footer__social-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 95px;
}

.footer__social-info_title > span {
  font-size: 32px;
}

.footer__social-links a {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: hsla(0, 0%, 96%, 0.1);
  transition: 0.25s ease-in-out;
}

.footer__social-links > :nth-child(n + 2) {
  margin-left: 15px;
}

.footer__social-links a:hover {
  transform: translateY(-5px);
}

.footer__nav-wrapper {
  margin-bottom: 120px;
}

.footer__nav-box {
  font-family: 'Inter';
  font-size: 15px;
  color: var(--brightnes-color);
}

.footer__nav-box_subtitle {
  margin-bottom: 25px;
  font-weight: 700;
}

.footer__nav-box_list > :nth-child(n + 2) {
  margin-top: 20px;
}

.footer__nav-box_list a:hover {
  text-decoration: underline;
  color: var(--subsidiary-theme-color);
}

.footer__copyright-wrapper {
  --dark-gray: #8d8d8d;
  color: var(--dark-gray);
}

.footer__copyright-wrapper,
.footer__copyright-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright-wrapper > :nth-child(n + 2),
.footer__copyright-links > :nth-child(n + 2) {
  margin-left: 35px;
}

.footer__copyright-links a:hover {
  text-decoration: underline;
}
/* =================================== FOOTER END ===================================  */
@media (max-width: 1399.98px) {
}
/* // Large devices (desktops, laptops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}
/* // Large devices (desktops, laptops, less than 1200px) */
@media (max-width: 991.98px) {
  .hero__info-box,
  .help__info-box,
  .property__info-box {
    text-align: center;
  }
  .hero__video-wrapper {
    flex-direction: column;
  }
  .hero__video-box {
    margin-bottom: 20px;
  }
  .hero__img-box,
  .traffic__img-box,
  .property__card-box,
  .help__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brands__img-box,
  .help__img-box,
  .footer__nav-box {
    margin-bottom: 35px;
  }
  .traffic__info-box {
    text-align: center;
  }
  .traffic__img-box img {
    width: 100%;
    margin-top: 30px;
  }
  .pricing__wrapper {
    justify-content: space-evenly;
  }
  .pricing__box {
    margin-bottom: 20px;
  }
  .help__item-wrapper {
    justify-content: space-evenly;
  }
  .form-wrapper {
    width: 100%;
  }
  .footer__nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
/* // Small devices (column-like) (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .hero__img-box img{
    width: 100%;
  }
  h1{
    font-size: 36px;
  }
  h2.center-title, h2.left-title, span.color-words, .help__title{
    font-size: 25px;
  }
  .left-title__desc, .center-title__desc{
    font-size: 14px;
  }
  .brands__img-box{
    margin-bottom: 50px;
  }
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  h1{
    font-size: 25px;
  }
  h2.center-title, h2.left-title, span.color-words, .help__title{
    font-size: 20px;
  }
  .hero__btn-transparent{
    margin-left: initial;
    margin-top: 15px;
  }
  .pricing__box-title{
    font-size: 28px;
  }
  .help__img-box img{
    width: 100%;
  }
  .help__item-wrapper{
    flex-direction: column;
  }  
  .help__item-box{
    margin-bottom: 25px;
  }
  .form__input{
    width: 50%;
    padding: 15px;
  }
  .form__input-btn{
    min-width: 30%;
    padding: 16px;
  }
  .footer__social-info{
    flex-direction: column;
  }
  .header{
    padding-top: 20px;
  }
  .hero, .brands{
    padding-bottom: 50px;
  }
  .framework{
    padding-bottom: 30px;
  }
  .property{
    padding-bottom: 90px;
  }
  .traffic{
    padding-top: 55px;
  }
  .traffic, .pricing, .help{
    padding-bottom: 75px;
  }
  .footer__social-info_title{
    margin-bottom: 35px;
  }
  .footer__copyright-wrapper{
    flex-direction: column;
  }
  .footer__copyright-text{
    margin-bottom: 25px;
  }
  .footer__copyright-wrapper > :nth-child(n + 2){
    margin-left: initial;
  }
}
/* // XX-Small devices (portrait phones (iPhone 5/5s, SE), less than 321px) */
@media (max-width: 320px) {
  .form-wrapper{
    padding: 30px 5px;
  }
}
